//? == Index SCSS ==

@import './scss/_normalize';
@import './scss/_vars';
@import './scss/_global';

body {
	position: relative;
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $Color-Aquamarine;
}

#root {
	padding: 85px 0;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;

	overflow: hidden;

	border-radius: 20px;
	background-color: $Color-White;

	box-shadow: 0 10px 20px rgba($Color-Black, 0.04);
}

.content {
	padding: 40px 60px;
}

.cartResult {
	&__list {
		margin-bottom: 24px;
	}

	&__item {
		display: flex;
		flex-direction: row;
		align-items: baseline;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 400;
		color: $Color-Black;

		display: inline-block;

		margin-right: 10px;
	}

	&__separator {
		flex: 1 1 auto;
		height: 2px;

		background-image: linear-gradient(to right, $Color-Gray 30%, $Color-White 0%);
		background-position: top;
		background-size: 5px 1.5px;
		background-repeat: repeat-x;

		margin-right: 10px;
	}

	&__price {
		font-size: 16px;
		font-weight: 600;
		color: $Color-Black;
	}

	&__btn {
		font-size: 16px;
		font-weight: 600;
		color: $Color-White;

		width: 100%;

		padding: 18px;

		position: relative;

		border-radius: 18px;
		background-color: $Color-Green;

		transition: background 0.2s ease;

		&:hover {
			background-color: lighten($Color-Green, 5%);

			img {
				transform: translate(5px, -50%);
			}
		}

		&:active {
			background-color: darken($Color-Green, 5%);
		}

		img {
			display: block;
			width: 16px;
			height: 14px;

			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%);

			transition: transform 0.2s ease;
		}
	}
}
