//? == Index SCSS ==

@import './scss/_normalize';
@import './scss/_vars';
@import './scss/_global';

body {
	position: relative;
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $Color-Aquamarine;

	&.blocked {
		overflow-y: hidden;
	}
}

#root {
	padding: 85px 0;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;

	border-radius: 20px;
	background-color: $Color-White;

	box-shadow: 0 10px 20px rgba($Color-Black, 0.04);

	&.disabled {
		overflow: hidden;
	}
}

.content {
	padding: 40px 60px;

	min-height: 60vh;
}
