//? == Global settings ==

h1 {
	font-size: 32px;
	font-weight: 700;
	color: $Color-Black;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	color: $Color-Black;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	color: $Color-Black;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.21;
	color: $Color-Gray-SemiDark;
}
